<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">

    <title>To-Do list</title>
</head>

<body>
    <form action="/submit" method="post">
        <textarea name="task" id="task" cols="30" rows="10">Write your task here</textarea><br>
        <button type="submit">Add</button>
    </form>

    <div class="task-list">
        <h1>Tasks</h1>
        <% list1.forEach(function(item){ %>
            <div class="item">
                <input type="checkbox">
                <p><%=item.name%></p>
            </div>
        <% }) %>
    </div>
</body>

</html>